<div class="container">
    <div class="pricing-header p-3 pt-md-5 pb-md-4 text-center">
        <img src="assets/images/logo.png" class="logo mb-4" alt="" />
        <p class="lead">Welcome to the Belle II Event Display with Phoenix</p>
    </div>

    <div class="row centered">
        <div class="card">
            <img
                class="card-img-top"
                src="assets/images/event_display.png"
                alt="Card image cap"
            />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Event Display</h5>
                <p class="card-text">
                    Display the events with the simplified detector geometry.
                </p>
                <a routerLink="/event-display" class="btn btn-secondary"
                    >Show</a
                >
            </div>
        </div>

        <div class="card">
            <img
                class="card-img-top"
                src="assets/images/detector_vertical.png"
                alt="Card image cap"
            />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Detector</h5>
                <p class="card-text">
                    Show the Belle II detector with full, detailed, geometry.
                </p>
                <a routerLink="/detector" class="btn btn-secondary">Show</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>Google Summer of Code 2023</p>
    <p>
        <a href="https://github.com/belle2/display"> GitHub </a> -
        <a href="https://display.belle2.org/documentation/">
            Documentation
        </a>
    </p>
</footer>
